{% extends 'base.html' %}
{% load crispy_forms_tags %}


 {% block content %}



  <div class="container m-6 p-5 login_form_padding_container">
  <div class="col-xs-12 col-sm-6 col-md-6 offset-md-3 hey">
  <div class="card shadow-lg p-4 mb-5 bg-white rounded ">
  <div class="card-header">
    Login Here
  </div>
  <div class="card-body login_form_input_field">

{% if error %}
<div class="alert alert-danger" role="alert">
      {{error}}
    </div>
{% endif %}
    
  
    <form method="POST">
      {% csrf_token %}
      {{form | crispy}}
          {% comment %} <button class='js-captcha-refresh captcha'>Refresh</button> {% endcomment %}
          <button style="" class="btn btn-success btn-block" >Login</button>
      </form>
  </div>
  </div>
  </div>
  </div>

 {% endblock content %}