{% extends 'Login/base.html' %}
{% load crispy_forms_tags %}


 {% block content %}

<div>



  <div class="container m-6 p-5 login_form_padding_container" >
  
  <div class="col-md-4 col-sm-4 col-md-4 offset-md-4 hey">
  <div class="card shadow-xlg  mb-5 bg-white rounded ">
  <div class="card-header " style="width: 100% !important;background-color: #52c41a;">
    <div class="row">
   <div class="col-md-12 text-light font-weight-bold"><span class="display-5">Login Here</span></div>
   <!-- <div class="col-md-6" style="text-align: right;"><i class="fas fa-users fa-2x " style="color:white"></i></div> -->
    </div>
   
  </div>
  <div class="card-body login_form_input_field p-4">

{% if error %}
<div class="alert alert-danger" role="alert">
      {{error}}
    </div>
{% endif %}
    
  
    <form method="POST" novalidate>
      {% csrf_token %}
      {{form | crispy}}
         
          <i class="fas fa-sync js-captcha-refresh captcha mb-3 ml-3" aria-hidden="true"></i>
          
          <button type="submit" class="btn btn-success btn-block " style="border-radius:50px;font-weight: bolder;">Login</button>
          
      </form>
  </div>
  </div>
  </div>
  </div>
  

 {% endblock content %}