{% extends 'Login/base.html' %}
 {% load static %}
 {% block content %}

<div class="container p-4 mt-5">
    <div class="row ">
        <div class="col-md-12 shadow-lg p-3 mb-5 bg-light rounded border border-dark" style="background-color:rgb(27, 25, 25)!important;">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><span class="text-light font-weight-bold">File Name</span></div>
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">Date</span></div>
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">Status</span></div>
            </div>
            

        </div>
    </div>
    {% for li in data %}
    <div class="row ">
        <div class="col-md-12 shadow-lg p-3 mb-5 bg-white rounded border border-white" style="background-color: #141414c7!important;">
          
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><span class="text-light font-weight-bold">{{ li.filename }}</span></div>
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">{{ li.date }}</span></div>
                {% ifequal li.status '1' %}
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">Denied</span></div>
                {% endifequal %}
                {% ifequal li.status '2' %}
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">Processing</span></div>
                {% endifequal %}
                {% ifequal li.status '3' %}
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">processed</span></div>
                {% endifequal %}
                {% ifequal li.status '4' %}
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">success</span></div>
                {% endifequal %}
                {% ifequal li.status '5' %}
                <div class="col-md-3" style="text-align: center;"><span class="text-light font-weight-bold">upload successful</span></div>
                {% endifequal %}
            </div>
            

        </div>
    </div>
    {% endfor %}
</div>

 {% endblock content %}



