{% extends 'Login/base.html' %}
{% load crispy_forms_tags %}


 {% block content %}
  <div class="container-fluid"><div class="row">
      <div class="col-md-4 p-5 offset-2">
        <div class="Form__content">
            <div class="Form_control">

             <label  class="Form__label">
                    <a href="{% url 'plantsystemuploadCsv' %}"><i class="fas fa-file-excel" id="iconFile"></i></a>
                 
                   
                    <span id="textFile">Through CSV</span>
                  </label>

              


            </div>
          </div>
        
        </div>

      

        <div class="col-md-4 p-5">
            <div class="Form__content">
                <div class="Form_control">
                  <label  class="Form__label">
                    <a href="{% url 'plantsystem' %}"><i class="fab fa-wpforms" id="iconFile"></i></a>
                 
                   
                    <span id="textFile">Input Manually</span>
                  </label>
                </div>
              </div>
            </div>
     
  </div></div>
 
 {% endblock content %}