{% extends 'Login/base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12" style="padding-left: unset !important;padding-right: unset !important;">
      <div class="card shadow-lg  mb-5 bg-white " style="border-radius: unset !important;">
        <div class="card-body">
          <h4 style="text-align: center;">Fill the form carefully, and furnish all the details</h4>
        </div>
      </div>
    </div>
   
   
  </div>
</div>
<div class="container-fluid ">
    
    <div class="row">
        <div class="col-md-4 mt-2 mobile_tabs" >
            <ul id="tabs-nav">
              {% if splisform.errors %}
              <li class="list-group-item bg-danger"><a id="t8" onClick="reply_click(this.id)" href="#tab1" style="color: black;">Basic plants details</a></li>
              {% else %}
              <li class="list-group-item "><a id="t9" onClick="reply_click(this.id)" href="#tab1" style="color: black;">Basic plants details</a></li>
        {% endif %}

        {% if bioticform.errors %}
        <li class="list-group-item bg-danger"><a id="t7" onClick="reply_click(this.id)" href="#tab2" style="color: black;">Biotic Zone </a></li>
        {% else %}
        <li class="list-group-item "><a id="t6" href="#tab2" onClick="reply_click(this.id)" style="color: black;">Biotic Zone</a></li>
  {% endif %}
                
                <!-- <li class="list-group-item table-success" ><a id="t1"  onClick="reply_click(this.id)" href="#tab2" style="color: black;">Nomenclature and Classification</a></li> -->
                <li class="list-group-item"   ><a id="t2" onClick="reply_click(this.id)" href="#tab3" style="color: black;">Common name</a></li>
                <li class="list-group-item"   ><a onClick="reply_click(this.id)" id="t3" href="#tab4" style="color: black;">Plant Conservaton status</a></li>
                <li class="list-group-item"  ><a  onClick="reply_click(this.id)" id="t4" href="#tab5" style="color: black;">synonyms</a></li>
                <li class="list-group-item"  ><a  onClick="reply_click(this.id)" id="t5" href="#tab6" style="color: black;">Plant habitat</a></li>
                <li class="list-group-item" ><a id="t6" href="#tab7" style="color: black;">Plant Taxonomy</a></li>
                <li class="list-group-item" ><a id="t7" href="#tab8" style="color: black;">Plant Uses</a></li>
                <li class="list-group-item" ><a id="t8" href="#tab9" style="color: black;">Plant Description</a></li>
                 <li class="list-group-item" ><a id="t9" href="#tab10" style="color: black;">Plant Diagnostic</a></li>
                <!-- <li class="list-group-item" ><a id="t9" href="#tab10" style="color: black;">Patent Details</a></li>
                <li class="list-group-item" ><a id="t10" href="#tab11" style="color: black;">Specimen Details</a></li>
                <li class="list-group-item" ><a id="t11" href="#tab12" style="color: black;">Information Listing</a></li>
                <li class="list-group-item"><a   id="t12" href="#tab13" style="color: black;">Observational Information</a></li>
                <li class="list-group-item" ><a id="t13" href="#tab14" style="color: black;">WMSURL</a></li>
                <li class="list-group-item" ><a id="t14" href="#tab15" style="color: black;">Multimedia</a></li>
                <li class="list-group-item"><a  id="t15" href="#tab16" style="color: black;">Data Quality Status</a></li> -->
               
              </ul> 

        </div>


        
        <div class="col-md-8 mt-2">

            <form class=""  id="regForm" method="POST" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                  
                {% csrf_token %}
<div class="tabs shadow-lg p-3 mb-5 bg-white rounded" >
    <!-- END tabs-nav -->
    <div id="tabs-content">
      <div id="tab1" class="tab-content">
        
        {{splisform | crispy}}
      </div>
      <div id="tab2" class="tab-content">
        {{bioticform | crispy}}
      </div>
      <div id="tab3" class="tab-content">
        {{commonname | crispy}}
      </div>
      <div id="tab4" class="tab-content">
        {{consstatus | crispy}}
      </div>
      <div id="tab5" class="tab-content">
        {{synonyms | crispy}}
      </div>
      <div id="tab6" class="tab-content">
        {{habitat | crispy}}
      </div>
      <div id="tab7" class="tab-content">
        {{taxanomy | crispy}}
      </div>
      <div id="tab8" class="tab-content">
        {{usesform | crispy}}
      </div>
      <div id="tab9" class="tab-content">
        {{desc | crispy}}
      </div>
       <div id="tab10" class="tab-content">
        {{diagnostic | crispy}}
      </div>
      {% comment %} <div id="tab10" class="tab-content">
        {{patentForm | crispy}}
      </div>
      <div id="tab11" class="tab-content">
        {{specimenfrom | crispy}}
      </div>
      <div id="tab12" class="tab-content">
        {{infoform | crispy}}
      </div>
      <div id="tab13" class="tab-content">
        {{obserform | crispy}}
      </div>
      <div id="tab14" class="tab-content">
        {{wsmlform | crispy}}
      </div>
      <div id="tab15" class="tab-content">
        {{multimediaform | crispy}}
      </div>
      <div id="tab16" class="tab-content">
        {{dataquality | crispy}}
      </div> {% endcomment %}

    </div> <!-- END tabs-content -->
  </div> <!-- END tabs -->
</div>
<div class="row">
  <div class="col-md-6"> <button class="btn btn-primary btn-block text-light font-weight-bold" style="border-radius: 20px;" type="submit">Submit</button></div>
  <div class="col-md-6"> <a href="{% url 'plantsystemhome' %}" class="btn btn-danger btn-block text-light font-weight-bold" style="border-radius: 20px;" type="submit">Cancel</a></div>
</div>
 
</form>
</div></div>
</div>

<!-- for mobile screev -->

<section>
<div class="row">
  <div class="col-md-4 mt-5 mobile_tabs_screen" >
      <ul id="tabs-nav">
        {% if baseform.errors %}
        <li class="list-group-item bg-danger"><a href="#tab1">Base Eelements</a></li>
        {% else %}
        <li class="list-group-item "><a href="#tab1">Base Eelements</a></li>
  {% endif %}

  {% if nandcform.errors %}
  <li class="list-group-item bg-danger"><a href="#tab2">Nomenclature and Classification</a></li>
  {% else %}
  <li class="list-group-item "><a href="#tab2">Nomenclature and Classification</a></li>
{% endif %}
          
          <li class="list-group-item dsk shadow-lg"><a href="#tab2">Nomenclature and Classification</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab3">Description</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab4">Natural History</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab5">Genetic,Molecular and Biochemical Characterisation</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab6">Habitat,Location and Distribution</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab7">Demography and Conservation</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab8">Uses and Management</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab9">Dataset Details</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab10">Patent Details</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab11">Specimen Details</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab12">Information Listing</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab13">Observational Information</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab14">WMSURL</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab15">Multimedia</a></li>
          <li class="list-group-item dsk shadow-lg"><a href="#tab16">Data Quality Status</a></li>
         
        </ul> 

  </div>
  </div>
</section>



{% endblock %}

{% block javascript %}
<script>
    $( function() {
    $( "#tags" ).autocomplete({
     
      source: '{% url "plantsystem" %}',
    });
  } );

</script>

 {% endblock javascript %}


