{% extends 'Login/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if data %}
  
{% else %}
{% if error %}
<div class="alert alert-danger" role="alert">
      {{error}}
    </div>
{% endif %}
<div class="card" style="border: unset !important;">
  <div class="card-header" style="text-align: center;background-color: rgb(179, 177, 177);">
    <p class=" text-light">Upload a csv file (supported encoding [ascii , utf-8])</p>
  </div>
  <div class="card-body" >
   

    <form enctype="multipart/form-data" method="post" class="m-5" style="border-color: aliceblue;"> 
      {% csrf_token %}
                       <input class="form-control-file form-control" type="file"  name="my_uploaded_file">
                       
                       
                       <input class="btn btn-info mt-3 font-weight-bold " type="submit" value="Submit"  style="    background: #ff5e14;
                       padding: 7px 20px;
                       border: 1px solid #ff5e14;"/>
                   </form>
     
                   {% endif %}
  </div>
</div>




<!-- {{loaded_data | safe}} -->

  <p>{{ row.SpeciesID }}</p>
{% if data %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <br>
      <!-- <button class="btn btn-default pull-right add-row"><i class="fa fa-plus"></i>&nbsp;&nbsp; Add Row</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover  table-responsive table-bordered table table-responsive-xl" id="editableTable" >
        <thead class="thead-dark">
          <tr >
          {% for i in colums %}
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ i }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            {% endfor %}

             <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for row in array  %}
         
            <tr data-id="1" >

            {% comment %} <td data-field="name1" >{{ row.SpeciesID }}</td>
            <td data-field="birthday2">{{ row.GlobalUniqueIdentfier }}</td>
            <td data-field="age3">{{ row.Abstract }}</td>
            <td data-field="sex4">{{ row.RecordBasis }}</td>
            
            <td data-field="name5">{{ row.Genus }}</td>
            <td data-field="birthday6">{{ row.Specie }}</td>
            <td data-field="age7">{{ row.Race }}</td>
            <td data-field="sex8">{{ row.Strains }}</td>
            
            <td data-field="name9">{{ row.CommonName }}</td>
            <td data-field="birthday10">{{ row.Language }}</td>
            <td data-field="age11">{{ row.Kingdom }}</td>
            <td data-field="sex12">{{ row.Phylum }}</td>
            
            <td data-field="name13">{{ row.Class }}</td>
            <td data-field="birthday14">{{ row.Order }}</td>
            <td data-field="age15">{{ row.Family }}</td>
           
            <td> {% endcomment %}


            {% for j in row %}

            <td  data-field={{ forloop.counter }} >{{ j }}</td>
            {% endfor %}

            <td>

              <a class="button button-small edit btn btn-success" title="Edit">
                <!-- <i class="fa fa-pencil fa-light">Edit</i> -->
                <span class="text-light">Edit</span>
              </a>
              
              <a class="button button-small edit  btn btn-success" title="Delete">
                <!-- <i class="fa fa-trash">Delete</i> -->
                <span class="text-light">Delete</span>
              </a>
            </td>
          </tr>
         
          {% endfor %}
         
        
        </tbody>
      </table>
      <button class="btn btn-danger btn-block" id="save_csv" type="submit">Save</button>
    </div>
  </div>
</div>


  
{% endif %}
 


{% endblock content%}

 {% block javascript %}

 <script> 

    $( "#save_csv" ).click(function() {
  alert( "Handler for .click() called." );


var proParams=[]; // <-- declare as array
var param = null;
var rows = $("#editableTable").dataTable().fnGetNodes();
var c={{ json_list|safe}}  

 var myTab = document.getElementById('editableTable');
var result;

for (i = 1; i < myTab.rows.length; i++) {
            var newj=[]
            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells;

            // LOOP THROUGH EACH CELL OF THE CURENT ROW TO READ CELL VALUES.
            for (var j = 0; j < objCells.length-1; j++) {
               newj.push(objCells.item(j).innerHTML)
            
            }
            result =  c.reduce(function(result, field, index) {
                  
                  var mo=c[index]
                  result[ field ] =newj[index];
                  return result;
                }, {})     
            proParams.push(result);
            // ADD A BREAK (TAG).
        }










var js=JSON.stringify(proParams)


$.ajax({
  type: "POST",
  url: window.reverse('save_form'),
  data: js,
  dataType: "json",
  success: function(message, status) {


      window.location.href=window.reverse('successsubmit');
      

      },
});


});
</script>

 {% endblock javascript %}

